.flipcard {
  display: flex;
  justify-content: space-evenly;
}

.title {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.17em;
}

.rate_ratio {
  text-align: center;
  font-weight: bold;
  font-size: 1.37em;
}

.backtitle {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: inherit;
}

.formula{
  text-align: center;
  font-size: 1.17em;
  font-weight: bold;
  padding-bottom: inherit;
}

.description {
  text-align: center;
}