.IEGlinegraph {
  width: 500px;
  height: 300px
}
.IEGtitle {
  display: flex;
  justify-content: center;
}

.govchart {
  width: 600px;
  height: 300px;
}

.govcharttitle {
  display: flex;
  justify-content: center;
}

.insightchart {
  display: flex;
  justify-content: space-evenly;
  padding-top: 45px;
  padding-bottom: 85px;
}
