.nav-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: rgb(250, 241, 241);;
  z-index: 9999;
}

.nav-button {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: rgb(250, 241, 241);
  cursor: pointer;
  font-family: inherit;
  font-weight: 850;
	color: #919090;
}

.nav-button:hover {
  background-color: #77A6F7;
  color: white;
  transition: 0.5s;
}

.active {
  background-color: #77A6F7;
  color: white;
}

.img-responsive {
  height: auto;
  width: auto;
  max-height: 32px;
  padding-left: 10px;
  padding-right: 40px;
}